@import url('https://fonts.googleapis.com/css2?family=Redressed&family=Roboto+Slab:wght@100;300;500;700&display=swap');

*{
    font-family: 'Roboto Slab', serif;
    box-sizing: border-box;
}

body{
    background-color: #ededed;
}

.header{
    background-color: #313131;
    color: #fff;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

#search-bar-label{
    display: none;
}

.header form{
    background-color: #fff;
    width: 350px;
    height: 40px;
    display: flex;
    align-items: center;
    font-size: 15px;
    margin-top: 25px;
}

#search-bar{
    outline: none;
    border: none;
    flex: 1;
}

.search-bar-button{
    background-color: #d36855;
    padding-inline: 15px;
    height: 100%;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    letter-spacing: 1px;
    transition: 0.3s;
}

.search-bar-button:hover{
    background-color: #bd604f;
}

.fa-magnifying-glass{
    color: #616161;
    font-size: 18px;
    margin-inline: 10px;
}

/* Filter */

.filter-bar{
    background-color: #616161;
    margin-bottom: 10px;
    margin: 0;
}

#filter-show{
    height: 0px;
    overflow: hidden;
    position: relative;
    transition: 0.5s;
}

#filter-show.toggle-filter{
    height: 600px;
    transition: 0.5s;
}

.filter-options{
    display: flex;
    justify-content: space-evenly;
    background-color: #454545;
    margin: 30px;
    border-radius: 10px;
    color: #fff;
}

.filter-options h3{
    margin-inline: 10px;
}

.filter-regions{
    flex: 1;
}

.filter-types{
    flex: 2;
}

.filter-submit{
    flex-basis: 100%;
    text-align: center;
}

.filter-submit button{
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 30px;
    cursor: pointer;
    margin-inline: 10px;
    transition: 0.5s;
}

#filter-btn{
    background-color: #d36855;
}

#filter-btn:hover{
    background-color: #c0511d;
}

#reset-btn{
    background-color: #a4a4a4;
}

#reset-btn:hover{
    background-color: #888282;
}

.filter-radio-list{  /**/
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    justify-content: center;
}

.filter-radio-list li{
    list-style: none;
    flex-basis: 40%;
    margin: 5px 5px;
}

.radio-labels{ 
    text-align: center;
    padding: 5px;
    border-radius: 10px;
    display: block;
    text-transform: capitalize;
    cursor: pointer;
    background-color: #313131;
}

.radio-options{
    display: none;
}

.radio-options:checked ~ .radio-labels{
    border: solid 4px black;
    transition: 0.5s;
}

.advanced-search{
    background-color: #525252;
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: #ffffff;
    border: none;
    transition: 0.5s;
}

.advanced-search:hover{
    cursor: pointer;
    background-color: #454545;
    transition: 0.5s;
}

  
/* pokemon list */

.content{
    background-color: #fff;
    height: auto;
    width: 100%;
    box-shadow: 0 0 8px 1px #212121;
}

.pokemon-list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
}

.pokemon-details{
    border-radius: 10px;
    margin: 1rem;
    padding: 1rem;
    min-height: 120px;
    text-align: center;
    display: flex;
    flex-direction: column;
    transition: 0.5s;
}

.pokemon-details:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.pokemon-details img{
    max-width: 100%;
    height: 130px;
    margin: 8px 0;
}

.pokemon-name{
    display: block;
    text-transform: capitalize;
    margin: 0;
}

.pokemon-id{
    display: block;
    opacity: 0.7;
    font-size: 0.625rem;
}

.pokemon-types{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.pokemon-types li{
    flex-basis: 40%;
    margin: 0.5rem 0.25rem;
    padding: 0.25rem 0.5rem;
    border-radius: 20px;
    font-size: 0.75rem;
    text-transform: capitalize;
    filter: contrast(2);
}

/* Pagination */

.pagination{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#pagination-btn{
    background-color: #30a7d7;
    border-radius: 8px;
    border: none;
    padding: 10px;
    transition: 0.5s;
}

#pagination-btn:hover{
    background-color: #2186ad;
}

/*Classes com os Tipos dos Pokémon*/

.fire{ background-color: #fd7d24; color: #fff; }
.water{ background-color: #4592c4; color: #fff;}
.poison{ background-color: #b97fc9; color: #fff;}
.bug{ background-color: #729f3f; color: #fff;}
.ghost{background-color: #7b62a3; color: #fff;}
.psychic{background-color: #f366b9; color: #fff;}
.dark{background-color: #707070; color: #fff;}
.fighting{background-color: #d56723; color: #fff;}
.rock{background-color: #a38c21; color: #fff;}

.grass{
    background-color: #9bcc50;
    color: #212121;
}
.flying{
    background: linear-gradient(180deg, #3dc7ef 50%, #bdb9b8 50%);
    background-color: #3dc7ef;
    color: #212121;
}
.dragon{
    background: linear-gradient(180deg, #53a4cf 50%, #f16e57 50%);
    background-color: #53a4cf;
}
.fairy{
    background-color: #fdb9e9;
    color: #212121;
}
.ground{
    background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    background-color: #f7de3f;
    color: #212121;
}
.normal{
    background-color: #a4acaf;
    color: #212121;
}
.steel{
    background-color: #9eb7b8;
    color: #212121;
}
.electric{
    background-color: #eed535;
    color: #212121;
}
.ice{
    background-color: #51c4e7;
    color: #212121;
}


/* Media Queries */



@media screen and (min-width: 768px) {
    
    .header{
        justify-content: space-between;
    }

    .header form{
        margin-top: 0;
    }

    .filter-regions{
        flex: 1;
        margin: 0 25px 25px 25px;
    }

    .filter-types{
        flex: 1;
        margin: 0 25px 25px 25px;
    }

    .filter-radio-list{
        display: flex;
        flex-wrap: wrap;
        padding: 10px;
        justify-content: center;
    }

    #filter-show.toggle-filter{
        height: 630px;
        transition: 0.5s;
    }
    
}

@media screen and (min-width: 576px) {

    .pokemon-list{
        grid-template-columns: 1fr 1fr 1fr;
    }

}

@media screen and (min-width: 992px) {
    .content{
        margin: 1rem auto;
        height: auto;
        max-width: 992px;
        border-radius: 10px;
    }
    
    .pokemon-list{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .header{
        border-radius: 10px 10px 0 0;
    }
}